<%= provide :title, t(".title") %>
<ol class="breadcrumb">
  <li class="breadcrumb-item active"><%= t ".title" %></li>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".quantity" %></th>
            <th class="function1"><%= t "admin.categories.index.function" %></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <%= will_paginate %>
    </div>
  </div>
</div>
