  <div class="cart-Details">
    <div class="container">
      <h2><%= t ".my_shopping_cart" %></h2>
      <h4 style="color: green; text-align: center">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      </h4>
      <% if session[:order_items].blank? || session[:order_items].count == 0 %>
        <p class="text-center">
          <%= sanitize(t(".no_cart_items", link: link_to(t(".bo_back"), public_root_path))) %>.
        </p>
      <% else %>
        <div class="strip-line"></div>
        <div class="cart-gd">
          <script>
            $(document).ready(function(c) {
              $(".close3").on("click", function(c){
                $(".cart-header3").fadeOut("slow", function(c){
                  $(".cart-header3").remove();
                });
              });
            });
          </script>
          <% session[:order_items].each do |quantity, product_id| %>
            <%= render "cart_row", product: load_product(product_id), order_detail: OrderDetail.new(id: 0, product_id: 1), quantity: quantity %>
          <% end %>
          </div>
        </div>
        <h4 style="float: left;"><strong><%= t ".total_order" %>: </strong> $<%= session[:total] %></h4>
        <h4 style="float: right;"><strong><%= link_to t(".checkout"),  public_checkout_path, method: :post %></strong></h4>
        <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
