  <div class="cart-Details">
    <div class="container">
      <br><h2><%= t ".my_shopping_cart" %></h2>
      <h4 style="color: green; text-align: center">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      </h4>
      <% if session[:order_items].blank? || session[:order_items].count == 0 %>
        <p class="text-center">
          <%= sanitize(t(".no_cart_items", link: link_to(t(".bo_back"), root_url))) %>.
        </p>
      <% else %>
        <div class="strip-line"></div>
        <div class="cart-gd">
          <% session[:order_items].each do |quantity, product_id| %>
            <%= render "cart_row", product: load_product(product_id), order_detail: OrderDetail.new(id: 0, product_id: 1), quantity: quantity %>
          <% end %>
          <h2 style="float: right;"><%= t ".total_order" %>: $<%= session[:total] %><h2><br><br>
          <div>
            <%= link_to t(".checkout"),  public_checkout_path, class: "btn btn-success checkout_bt_cart", method: :post %>
          </div><br><br><br>
          </div>
      <% end %>
    </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

