<div class="header">
  <div class="logo">

  </div>
  <div class="top-nav">
    <span class="menu"> <%= link_to t("layouts.public._header.home"),root_url, class: "active" %> </span>
    <ul>
            <li> <h1><%= link_to t("layouts.public._header.food"),"" %></h1> </li>
      <li> <%= link_to t("layouts.public._header.home"),root_url, class: "active" %> </li>
      <li> <%= link_to t("layouts.public._header.menu"),root_url %> </li>
      <li class="cart-text"><%= render "layouts/public/cart_text" %></li>
        <% if user_signed_in? %>

          <li class = "li_dropdown"> <div class="dropdown">
            <%= link_to sanitize( current_user.email + content_tag(:span, "", class: "caret")), "#", {class: "btn btn-default dropdown-toggle", id: "dropdownMenu1", "data-toggle" => "dropdown", "aria-expanded" => true} %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li> <%= link_to t(".Profile"), edit_user_registration_path %> </li>
              <li> <%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
            </ul>
          </div> <li>
        <% else %>

          <li> <%= link_to t(".login"), user_session_path %> </li>
          <li> <%= link_to t(".sing_up"), new_user_session_path %> </li>

        <% end %>
      </li>
    </ul>
  </div>
    <div class="clearfix"> </div>
</div>
