<div class="special">
  <div class="container">
    <div class="services-info">
      <h3> <%= t("public.static_pages._index.today")%> </h3>
      <p> <%= t("public.static_pages._index.pelle")%> </p>
    </div>
    <div class="special-grids">
      <% @products.each do |p| %>
        <div class="col-md-6 w3l-special-grid">
          <div class="col-md-6 w3ls-special-img wthree-img">
          <%= image_tag p.image %>
            <div class="wpf-demo-6">
              <div class="w3ls-special-text">
                <p><sub>$</sub><%= p.price %></p>
              </div>
              <figcaption class="view-caption">
                <h4> <%= t("public.static_pages.view")%> </h4>
                <%= link_to "View","#" %>
              </figcaption>
            </div>
          </div>
          <div class="col-md-6 agileits-special-info">
            <h4 class="h4_name"><%= p.name %></h4>
                <div class="col-md-12">
              </div>
          </div>

          <div class="clearfix"> </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

