<div class="special">
  <div class="container">
    <div class="services-info">
      <h3>Today Specials</h3>
      <p>Pellentesque ultrices tincidunt risus in pellentesque. Morbi facilisis consectetur nunc in luctus.</p>
    </div>
    <div class="special-grids">
      <% @static_pages.each do |p| %>
        <div class="col-md-6 w3l-special-grid">
          <div class="col-md-6 w3ls-special-img wthree-img">
            <%= image_tag(p.image.url, class: "col-md-6 w3ls-special-img wthree-img") if p.image? %>
            <div class="wpf-demo-6">
              <div class="w3ls-special-text">
                <p><sub>$</sub><%= p.price %></p>
              </div>
              <figcaption class="view-caption">
                <h4>View detail product</h4>
                <%= link_to "View", public_product_path(p) %>
              </figcaption>
            </div>
          </div>
          <div class="col-md-6 agileits-special-info">
            <h4 class="h4_name"><%= p.name %></h4>
                <div class="col-md-12">
                <%= form_for(@order_item, url: public_add_cart_path, remote: true) do |f| %>
                  <div class="input-group ">
                    <%= f.number_field :quantity, value: 1, class: "form-control ", min: 1 %> <br>
                    <div class="input-group-btn">
                      <%= f.hidden_field :product_id, value: p.id %>
                      <%= f.submit t("public.products.index.add_to_cart"), class: "btn btn-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <%= will_paginate %>
  </div>
</div>

